@font-face{
    font-family: 87_Helvetica;
    src: url('../fonts/Helvetica_neue_lt_com.ttf');
}
@font-face{
    font-family: 55_Helvetica;
    src: url('../fonts/Helvetica_55_roman.ttf');
}
@font-face{
    font-family: 47_Helvetica;
    src: url('../fonts/Helvetica_Neue_LT_Com_47_Light_Condensed_Oblique.ttf');
}
@font-face{
    font-family: 45_Helvetica;
    src: url('../fonts/helvetica_45_light.ttf');
}
@font-face{
    font-family: 45_Helvetica_light;
    src: url('../fonts/helvetica_45_light_italic.ttf');
}
@font-face{
    font-family: 25_Helvetica;
    src: url('../fonts/helvetica_25_ultra_light.otf');
}




